# node modules, no cross-contamination for cauto.js and cauto.py
node_modules/

# environment
*.env

# databases
*.json

# logs
*.log

# ytdl files
*.zip
*.mp3
*.mp4

# getdevcom files
*.html
*.png
*.txt
